@using Tgl.Shared.Domain
<h3>Summary</h3>

@foreach (var item in ShipmentSummaries)
{
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <h5>@item.ShippingId</h5>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-5">
                            @item.ShipmentFilter.FromLocation.Name<br />
                            @item.ShipmentFilter.FromDate
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5">
                            @item.ShipmentFilter.ToLocation.Name<br />
                            @item.ShipmentFilter.ToDate
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    @item.ActionMessage
                </div>
                <div class="col-3">
                    @item.ShippingCompany
                </div>
                <div class="col-2">
                    @string.Join(",", @item.TrackingNumbers)
                </div>
            </div>
            <hr />
            <div class="row">
                @foreach (var status in @item.DeliveryStatuses)
                {
                    <div class="col-2">
                        <span class="@(status.Value == @DeliveryStatusEnum.Completed ?"text-success"
                               : @status.Value == @DeliveryStatusEnum.Current?"text-danger"
                               : "text-muted")">@status.Key</span>
                    </div>
                }
            </div>
        </div>
    </div>
}

