.@using Tgl.Shared.Domain
@using Tgl.Shared.Models
@using BlazorDateRangePicker

<div class="col-6">
    @foreach (var filter in ShipmentFilter.Filters)
    {
        <div class="form-check form-check-inline">
            <input class="form-check-input"
               type="checkbox"
               id="@filter.Key"
               value="@filter.Value"
               @onchange="eventArgs => {CheckboxClicked(filter.Key, eventArgs.Value);}" />

            <label class="form-check-label" for="@filter.Key">@filter.Value</label>
        </div>
    }

    <div class="row">
        @if (_isFromLocationChecked)
        {
            <div class="col-3">
                <FromLocationMultiSelect `SelectedFilter="@ShipmentFilter." OnFromLocationSelected="AddToFromLocationSelected"></FromLocationMultiSelect>
            </div>
        }
        @if (_isToLocationChecked)
        {
            <div class="col-3">
                <ToLocationMultiSelect OnToLocationSelected="AddToLocationSelected"></ToLocationMultiSelect>
            </div>
        }
        @if (_isDeliveryDatePeriodChecked)
        {
            <div class="col-3">
                <DateRangePicker OnRangeSelect="OnRangeSelect" class="form-control" placeholder="Select dates..." />
            </div>
        }
        @if (_isShipmentCostChecked)
        {
            <div class="col-3">
                <ShipmentCostMultiSelect OnShipmentCostSelected="AddShipmentCostSelected"></ShipmentCostMultiSelect>
            </div>
        }

        @if(_isFromLocationChecked || _isToLocationChecked || 
           _isDeliveryDatePeriodChecked || _isShipmentCostChecked)
        {
            <button type="button" @onclick="ApplyFilter" class="btn btn-success">Apply Filters</button>
        }
    </div>
</div>
